<html ng-app="dbox">
<head>
	<% include ./common/meta %>

    <title><%= title %></title>   
	<% include ./common/css %> 
	<link href="./stylesheets/datepicker.css" rel="stylesheet" type="text/css" />

	<% include ./common/javascript %>
    <style>
        .pac-container, .pac-logo{z-index: 99999!important;}
    </style>
   
	<script src="./javascripts/datepicker.js?v=<%-GLOBAL.environment_settings.version%>"></script>
	<script src="./javascripts/views/customer.autocomplete.js?v=<%-GLOBAL.environment_settings.version%>"></script>
	<script src="./javascripts/views/customer.js?v=<%-GLOBAL.environment_settings.version%>"></script> 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv6GVp2i26Y4uOUl-mpUEuyxmhYPr9bX0&signed_in=true&libraries=places"></script>
</head>
<body>
    <% include ./common/sidebar %>

    <div class="container" id="container" data-ng-controller="customerListController">
        <div class="row-fluid">
            <div class="col-xs-12 pside0">
                <div class="title text-muted">
                    <div class="pull-left"><h2><i class="<%= icon %>"></i> <%= title %></h2></div>
					<div class="pull-right"><button type="button" class="btn btn-primary mt15" data-ng-click="new();">New <%= title %></button></div>
					<div class="clearfix"></div>
                </div>
             
				<hr/>
            </div>
			<div class="clearfix"></div>

			<div class="clearfix">
			
				<div class="panel panel-default">
					<div class="panel-heading">Filter information</div>
					<div class="panel-body">
						
						<div class="col-xs-12 col-md-3 mb10">
							<div class="input-group">
								<span class="input-group-addon">Search</span>
								<input type="text" class="form-control" data-ng-model="filter.search" maxlength="30" data-ng-enter="search()" placeholder="name, e-mail and phone" />
							</div>
						</div>
						<div class="col-xs-4 col-md-3 mb10">
							<div class="input-group">
								<span class="input-group-addon">Country</span>
								<select class="form-control" data-ng-model="filter.country" data-ng-change="search()">
									<option value="">All</option>
									<option value="{{c.code}}" data-ng-repeat="c in countries">{{c.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-xs-4 col-md-3 mb10">
							<div class="input-group">
								<span class="input-group-addon">Status</span>
								<select class="form-control" data-ng-model="filter.status" data-ng-change="rSearch()">
									<option value="">All</option>
									<option value="1">Active</option>
									<option value="0">Inactive</option>
								</select>
							</div>
						</div>
						<div class="col-xs-4 col-md-2 mb10">
							<div class="input-group">
								<span class="input-group-addon">Show</span>
								<select class="form-control" data-ng-model="filter.pg.limit" data-ng-change="search()">
									<option data-ng-repeat="l in limits">{{l.qty}}</option>
								</select>
							</div>
						</div>
						
						<div class="col-xs-12 col-md-1 mb10">
							<button type="button" class="btn btn-primary" data-ng-enter="search();">Go</button>
						</div>

					</div>

				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<p class="text-right">Total <b class="pgCounter">{{filter.pg.total}}</b> items</p>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>E-mail</th>
									<th>Phone</th>
									<th>Language</th>
									<th>Country</th>
									<th>Status</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-if="customers.length == 0"><td colspan="100%" class="text-center">It does not have any content</td></tr>
                                <tr data-ng-show="customers == null"><td colspan="100%" class="text-center"><img src="images/loading.gif" /></td></tr>
								<tr data-ng-repeat="data in customers">
									<td>{{data.firstname}}&nbsp;{{data.lastname}}</td>
									<td><a href="mailto:{{data.mail}}">{{data.mail}}</a></td>
									<td><a href="tel:{{data.phone | call}}">{{data.phone}}</a></td>
									<td><div data-ng-repeat="n in data.language" data-ng-bind-html="n | language | hashtags | unsafe" class="pull-left"></div></td>
									<td><span class="bfh-countries" data-flags="true" data-country="{{data.address.country}}"></span></td>
                                    <td><div data-ng-bind-html="data.status | status | unsafe"></div></td>
									<td class="text-right" width="70">
										<a href="javascript:;" data-ng-click="device(data);"><span class="fa fa-android"></span></a>
										<a href="javascript:;" data-ng-click="edit(data);"><span class="glyphicon glyphicon-pencil"></span></a>
										<a href="javascript:;" data-ng-click="delete(data);"><span class="glyphicon glyphicon-trash"></span></a>
									</td>
								</tr>
							</tbody>
						</table>

						<% include ./common/pagination %>
					</div>
				</div>
			</div>
        </div>
    </div>
	
    <% include ./modal/customer %>
    <% include ./modal/basic %>
</body>
</html>