<html ng-app="dbox">
<head>
	<% include ./common/meta %>

    <title><%= title %></title>   
	<% include ./common/css %> 

	<% include ./common/javascript %>
	<script src="./javascripts/jquery-ui.min.js?v=<%-GLOBAL.environment_settings.version%>"></script>
	<script src="./javascripts/views/homeHighlights.js?v=<%-GLOBAL.environment_settings.version%>"></script>
</head>
<body>
    <% include ./common/sidebar %>

    <div class="container" id="container" data-ng-controller="highLightsController">
       
	   <div class="col-xs-12 pside0">
            <div class="title text-muted">
                <div class="pull-left"><h2><i class="<%= icon %>"></i> <%= title %></h2></div>
					<div class="pull-right" data-ng-if="highlights.length < <%-GLOBAL.HOMESCREEN_LIMIT.HIGHTLIGHTS.MAX_BLOCKS%>"><button type="button" class="btn btn-primary mt15" data-ng-click="edit({});">New Highlight</button></div>
				<div class="clearfix"></div>
            </div>
             
			<hr/>
		</div>
		<div class="clearfix"></div>

        <div class="panel panel-default">
            <div class="panel-heading">Filter information</div>
            <div class="panel-body">

                <div class="col-xs-12 col-lg-4 mb10">
                    <div class="input-group">
                        <span class="input-group-addon">Search</span>
                        <input type="text" class="form-control" data-ng-model="filter.search" maxlength="30" data-ng-enter="loadAll()" placeholder="title" />
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3 mb10">
                    <div class="input-group">
                        <span class="input-group-addon">Country</span>
                        <select class="form-control" data-ng-model="filter.country" data-ng-change="loadAll()">
                            <option data-ng-repeat="data in countries" data-ng-selected="data.code == filter.country" value="{{data.code}}">{{data.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-2 mb10">
                    <div class="input-group">
                        <span class="input-group-addon">Status</span>
                        <select class="form-control" data-ng-model="filter.status" data-ng-change="loadAll()">
                            <option value="">All</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-2 mb10">
                    <button type="button" class="btn btn-primary" data-ng-click="search();">Go</button>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-xs-12 pside0 app-order">

            <div data-ng-show="highlights == null" class="text-center"><img src="images/loading.gif" /></div>
            <div class="text-center" data-ng-if="highlights.length == 0">It does not have any content</div>

			<div id="{{data._id}}" class="panel panel-default clearfix" data-ng-repeat="data in highlights">
				<div class="panel-heading">
					<div class="pull-left">{{data.title}}</div>
					<div class="pull-right">
						<a href="javascript:;" data-ng-click="edit(data);"><span class="glyphicon glyphicon-pencil"></span></a>
						<a href="javascript:;" data-ng-click="delete(data);"><span class="glyphicon glyphicon-trash"></span></a>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="panel-body">

					<div class="col-xs-12 col-lg-8 pside0">

						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th>Title</th>
									<th>Type</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-if="data.list | isNullEmpty" class="text-center">
									<td colspan="100%">It does not have any content</td>
								</tr>
								<tr data-ng-repeat="list in data.list">
									<td width="45"><div class="sThumb zoom" style="background-image:url('{{list.cover}}')"></div></td>
									<td>{{list.title}}</td>
                                    <!-- CONDITIONAL -->
									<td data-ng-hide="list.id | isNullEmpty">Fixed</td>
									<td data-ng-show="list.id | isNullEmpty">Random</td>                                    
                                    <!-- END CONDITIONAL -->
									<td class="text-right" width="70">
										<a href="javascript:;" data-ng-click="delete_content(data, list, $index);">
											<span class="glyphicon glyphicon-trash"></span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="col-xs-12 col-lg-4 pside0 pl15">

						<div class="form-group">
							<label>Title</label>
							<span class="clearfix">{{data.title}}</span>
						</div>
						<div class="form-group" data-ng-if="data.description">
							<label>Description</label>
							<div class="clearfix hM350">{{data.description}}</div>
						</div>
						<div class="form-group">
							<label>Status</label>
							<div class="clearfix"><span class="text-{{data.status === true ? 'success' : 'danger'}}">{{data.status === true ? "Active" : "Inactive"}}</span></div>
						</div>
						<div class="form-group mt15" data-ng-if="data.list.length < <%-GLOBAL.HOMESCREEN_LIMIT.HIGHTLIGHTS.MAX_ITEMS%>">
							<button type="button" class="btn btn-primary" data-ng-click="editContent(data, {});">Add content</button>
						</div>
						<div class="clearfix"></div>

					</div>
					<div class="clearfix"></div>

				</div>
          </div>

        </div>
    </div>
	
    <% include ./modal/homehighlights %>
    <% include ./modal/basic %>
</body>
</html>